
QLabel{
    /*background: rgb(0, 0, 0);*/
    /*font-family: serif, Georgia;*/
    font-size: 13px;
    color: rgb(0, 36, 185);
    font-weight: 400;
    text-decoration: underline rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

QLineEdit:hover{
    border: 1px solid #CB5721;
}

QTextEdit:hover{
    border: 1px solid #CB5721;
}

QPushButton {
    color: white;
    text-decoration: none;
    padding: .1em 1em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
}
QPushButton:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}
QPushButton:hover{
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
QPushButton:pressed{
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
}