QMainWindow {
    background-color: rgb(142, 210, 255);
}

QLabel {
    background: rgb(0, 0, 0, 0);
    font-family: serif, Georgia;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #A8491D;
    font-weight: 700;
    text-decoration: underline rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

QLineEdit:hover {
    border: 1px solid #CB5721;
    border-radius: 22px;
}

QTextEdit:hover {
    border: 5px solid #CB5721;
    border-width: 5px;
}

QPushButton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .1em 1em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

QPushButton:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

QPushButton:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}


QGroupBox {
    font-family: serif, Georgia;
    font-size: 14px;
    color: rgb(68, 68, 68);
    text-decoration: underline rgb(68, 68, 68);
}